* {
	margin: 0;
	padding: 0;
}

#app_menu {
	background-color: #bbb;
	height: 1em;
}
#app_menu ul {
	list-style-type: none;
}
#app_menu li {
	display: inline;
}
#app_menu li a.active {
	background-color: white;
	color: black;
}
#app_menu a {
	color: #000;
	padding: 0 1em;
	text-decoration: none;
}
#app_menu a:hover {
	background-color: #fff;
}

#app_content {
	border: 1px solid #bbb;
	border-top: none;
	margin-left: 199px;
	margin-right: 199px;
	padding: 0 1em;

	/* IE hacks */
	voice-family: "\"}\"";
	voice-family: inherit;
	margin-left: 201px;
	margin-right: 201px;
}
html>body #centercontent {
	margin-left: 201px;
	margin-right: 201px;
}
#app_content p {
	margin: 0.5em;
}

#app_left_panel {
	border: 1px solid #bbb;
	border-top: none;
	padding: 0.5em;
	position: absolute;
	top: 1em;
	width: 184px;
}
#app_right_panel {
	border: 1px solid #bbb;
	border-top: none;
	padding: 0.5em;
	position: absolute;
	right: 0;
	top: 1em;
	width: 184px;
}

.app_message {
	font-weight: bold;
}
.app_message a {
	color: rgb(0, 0, 0);
	padding-right: 0.5em;
	text-decoration: none;
}
.app_message a:hover {
	color: rgb(255, 255, 255);
}
#flash_notice {
	background-color: rgb(40, 255, 40);
}
#flash_warning {
	background-color: rgb(255, 40, 40);
}