<p>You account has been activated.  Now you must pick a name for your army.</p>

<%= error_messages_for :army %>

<% form_for :army, :url => army_path do |a| %>
	<p>
		<%= a.label :name, 'Army Name:' %>
		<%= a.text_field :name %>
	</p>

	<p><%= submit_tag (controller.action_name == 'new' ? 'Create' : 'Save' ) %></p>
<% end %>
